@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333
gris_claro = #818181
rojo = #bd255b

a
	text-decoration none
	
.author
	color gris_claro

.actions
	position absolute	
	bottom 0
	left 0
	right 0
	background rgba(0,0,0,.3)
	text-align right
	
.action
	color white
	margin-right .5em
	font-size 1.2em
	
	&:last-child
		margin-right 0
		
	&.grey
		color gris_claro	

body
	font-family 'Varela Round', sans-serif
	font-size 16px
	
.button-menu
	color gris_oscuro
	left .5em
	margin-top -10px
	position absolute
	top 50%

.border-bottom
	border-bottom 1px solid gris_claro

.container
	padding 1.4rem
	font-size 0
	text-align center
	
.center-block
	margin 0 auto	
	
.center-text
	text-align center	
	
figure 
	margin 0 !important

.header
	height 3.5em

	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em
		
img
	vertical-align top		

.menu 
	display none

.name
	color gris_oscuro
	
.padding
	padding 1em	
	
.padding-tb
	padding 1em 0	
	
.playing
	&.small
		width 20em	
		
.progress	
	margin 1em 0
	position relative
	
	.min	
	.max
		font-size .8em
		top -5px
		position absolute

	.min
		left 0
		
	.max
		right 0	

	.total
		height 5px
		background gris_claro	
		width 75%	
		border-radius 6px
		margin 0 auto
		
	.state
		height 5px
		background rojo
		width 30%	
		border-radius 6px
		position relative
		
	.circle
		width 10px
		height 10px
		background gris_oscuro
		border-radius 50%	
		position absolute
		right 0
		top -2px

.relative
	position relative

.song
	width 8rem
	display inline-block
	font-size 1rem
	margin-right 1em	
	margin-bottom 1em
	text-align left
	
	&:nth-child(even)
		margin-right 0 
		
	p
		margin .5em 0	

	

		